@model Student

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/Images/@Model.Image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Student Card </h5>
        <p class="card-text"> @Model.Id </p>
        <p class="card-text"> @Model.Name </p>
        <p class="card-text"> @Model.Address  </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>